In [ ]:

%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [1]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import string
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
from keras.layers import Input, Dense
from keras.models import Model
from tensorflow.keras import Sequential
from nltk.corpus import stopwords
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional, concatenate
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.layers import GRU
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [2]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [3]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [4]:
data_dir = Path('/content/drive/MyDrive/dacon/input')
feature_dir = Path('../build/feature')
val_dir = Path('/content/drive/MyDrive/dacon/build/val')
tst_dir = Path('/content/drive/MyDrive/dacon/build/tst')
sub_dir = Path('/content/drive/MyDrive/dacon/build/sub')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir / 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [5]:
algo_name = 'gru2'
feature_name = 'emb'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [6]:
train = pd.read_csv(trn_file, index_col=0)
train.head()

                                                    text  author
index
0      He was almost choking. There was so much, so m...       3
1                 “Your sister asked for it, I suppose?”       2
2       She was engaged one day as she walked, in per...       1
3      The captain was in the porch, keeping himself ...       4
4      “Have mercy, gentlemen!” odin flung up his han...       3

In [7]:
test = pd.read_csv(tst_file, index_col=0)
test.head()

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [8]:

train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()

In [9]:
train['text'] = train['text'].str.replace('\?',' quesmark ')
train['text'] = train['text'].str.replace('\!',' exclmark ')
train['text'] = train['text'].str.replace('\&',' empent ')
train['text'] = train['text'].str.replace("\*",' chstar ')
train['text'] = train['text'].str.replace(";",' smcolons  ')
train['text']=train['text'].str.replace('—', ' llonghpn ')
train['text']=train['text'].str.replace('-', ' hypppen ')
train['text']=train['text'].str.replace('_', ' ddwnhpn ')
train['text']=train['text'].str.replace(':', ' ccolns ')
#train['text']=train['text'].str.replace(',', ' cccomaa ')
train['text']=train['text'].str.replace('.', ' lllsapoint ')

test['text'] = test['text'].str.replace('\?',' quesmark ')
test['text'] = test['text'].str.replace('\!',' exclmark ')
test['text'] = test['text'].str.replace('\&',' empent ')
test['text'] = test['text'].str.replace("\*",' chstar ')
test['text'] = test['text'].str.replace(";",' smcolons  ')
test['text']=test['text'].str.replace('-', ' hypppen ')
test['text']=test['text'].str.replace('—', ' llonghpn ')
test['text']=test['text'].str.replace('_', ' ddwnhpn ')
test['text']=test['text'].str.replace(':', ' ccolns ')
#test['text']=test['text'].str.replace(',', ' cccomaa ')
test['text']=test['text'].str.replace('.', ' lllsapoint ')

In [10]:
train['text']=train['text'].str.replace('á', ' Ascenda ')
train['text']=train['text'].str.replace('à', ' Descenda ')
train['text']=train['text'].str.replace('â', ' Stremama ')
train['text']=train['text'].str.replace('ä', ' Doublea ')
train['text']=train['text'].str.replace('é', ' Ascende ')
train['text']=train['text'].str.replace('í', ' Justi ')
train['text']=train['text'].str.replace('ï', ' Doublei ')
train['text']=train['text'].str.replace('ó', ' Comao ')
train['text']=train['text'].str.replace('ú', ' Ascendu ')
train['text']=train['text'].str.replace('ý', ' Ascendy ')
train['text']=train['text'].str.replace('ü', ' Umlaut ')
train['text']=train['text'].str.replace('è', ' Descende ')
train['text']=train['text'].str.replace('£', ' Maludf ')

test['text']=test['text'].str.replace('ä', ' Doublea ')
test['text']=test['text'].str.replace('â', ' Stremama ')
test['text']=test['text'].str.replace('à', ' Descenda ')
test['text']=test['text'].str.replace('á', ' Ascenda ')
test['text']=test['text'].str.replace('é', ' Ascende ')
test['text']=test['text'].str.replace('ï', ' Doublei ')
test['text']=test['text'].str.replace('í', ' Justi ')
test['text']=test['text'].str.replace('ó', ' Comao  ')
test['text']=test['text'].str.replace('ú', ' Ascendu ')
test['text']=test['text'].str.replace('ý', ' Ascendy ')
test['text']=test['text'].str.replace('ü', ' Umalut ')
test['text']=test['text'].str.replace('è', ' Descende ')
test['text']=test['text'].str.replace('£', ' Maludf ')

In [11]:
from collections import Counter
cnt = Counter()
for text in train["text"].values:
    for word in text.split():
        cnt[word] += 1

In [12]:
n_rare_words = 40
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

train["text"] = train["text"].str.lower().apply(remove_rarewords)

In [13]:
train['text']=train['text'].str.replace('\(', ' \( ')
train['text']=train['text'].str.replace('\{', ' \{ ')
train['text']=train['text'].str.replace('\[', ' \[ ')
train['text']=train['text'].str.replace('\)', ' \) ')
train['text']=train['text'].str.replace('\}', ' \} ')
train['text']=train['text'].str.replace('\]', ' \] ')

test['text']=test['text'].str.replace('\(', ' \( ')
test['text']=test['text'].str.replace('\{', ' \{ ')
test['text']=test['text'].str.replace('\[', ' \[ ')
test['text']=test['text'].str.replace('\)', ' \) ')
test['text']=test['text'].str.replace('\}', ' \} ')
test['text']=test['text'].str.replace('\]', ' \] ')

In [14]:

import nltk
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [15]:
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.tokenize import TweetTokenizer

def lemma_text(text):
    tokenizer=TweetTokenizer()
    words=tokenizer.tokenize(text)
    lem = WordNetLemmatizer()
    words=[lem.lemmatize(word, "v") for word in words]
    
    clean_sent=" ".join(words)
    
    return clean_sent

train['text'] = train['text'].str.lower().apply(lemma_text)
test['text'] = test['text'].str.lower().apply(lemma_text)

In [16]:
X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [17]:
vocab_size = 28000
embedding_dim = 128
max_length = 520
padding_type='post'

In [18]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [19]:

train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [20]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 520) (19617, 520)

In [21]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [22]:

def get_model():
    model = Sequential([
    Embedding(vocab_size, embedding_dim, input_length=max_length),
    Bidirectional(GRU(128, return_sequences=True)),
    Bidirectional(GRU(128)),
    Dense(n_class, activation='softmax')
    ])
    
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.005))
    return model

In [23]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf = get_model()    
    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=256,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Epoch 1/10
172/172 [==============================] - 52s 302ms/step - loss: 0.9083 - val_loss: 0.6166
Epoch 2/10
172/172 [==============================] - 53s 308ms/step - loss: 0.4618 - val_loss: 0.5449
Epoch 3/10
172/172 [==============================] - 55s 320ms/step - loss: 0.3256 - val_loss: 0.5981
Epoch 4/10
172/172 [==============================] - 54s 316ms/step - loss: 0.2487 - val_loss: 0.6604
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: nanRestoring model weights from the end of the best epoch.
172/172 [==============================] - 53s 306ms/step - loss: nan - val_loss: nan
Epoch 00005: early stopping
training model for CV #2
Epoch 1/10
172/172 [==============================] - 55s 319ms/step - loss: 0.9675 - val_loss: 0.6297
Epoch 2/10
172/172 [==============================] - 55s 317ms/step - loss: 0.4722 - val_loss: 0.5399
Epoch 3/10
172/172 [==============================] - 55s 317ms/step - loss: 0.3250 - val_loss: 0.5876
Epoch 4/10
172/172 [==============================] - 55s 317ms/step - loss: 0.2444 - val_loss: 0.6741
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2328Restoring model weights from the end of the best epoch.
172/172 [==============================] - 55s 319ms/step - loss: 0.2328 - val_loss: 0.7359
Epoch 00005: early stopping
training model for CV #3
Epoch 1/10
172/172 [==============================] - 55s 320ms/step - loss: 0.9288 - val_loss: 0.6108
Epoch 2/10
172/172 [==============================] - 53s 311ms/step - loss: 0.4623 - val_loss: 0.5520
Epoch 3/10
172/172 [==============================] - 54s 312ms/step - loss: 0.3251 - val_loss: 0.5763
Epoch 4/10
172/172 [==============================] - 54s 312ms/step - loss: 0.2502 - val_loss: 0.6704
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2089Restoring model weights from the end of the best epoch.
172/172 [==============================] - 54s 314ms/step - loss: 0.2089 - val_loss: 0.7359
Epoch 00005: early stopping
training model for CV #4
Epoch 1/10
172/172 [==============================] - 55s 321ms/step - loss: 0.9707 - val_loss: 0.6097
Epoch 2/10
172/172 [==============================] - 54s 314ms/step - loss: 0.4820 - val_loss: 0.5502
Epoch 3/10
172/172 [==============================] - 54s 315ms/step - loss: 0.3266 - val_loss: 0.6008
Epoch 4/10
172/172 [==============================] - 54s 314ms/step - loss: 0.2483 - val_loss: 0.6388
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2009Restoring model weights from the end of the best epoch.
172/172 [==============================] - 54s 315ms/step - loss: 0.2009 - val_loss: 0.6878
Epoch 00005: early stopping
training model for CV #5
Epoch 1/10
172/172 [==============================] - 54s 317ms/step - loss: 0.9229 - val_loss: 0.6871
Epoch 2/10
172/172 [==============================] - 53s 311ms/step - loss: 0.4705 - val_loss: 0.5508
Epoch 3/10
172/172 [==============================] - 54s 312ms/step - loss: 0.3281 - val_loss: 0.5915
Epoch 4/10
172/172 [==============================] - 54s 313ms/step - loss: 0.2494 - val_loss: 0.6825
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2039Restoring model weights from the end of the best epoch.
172/172 [==============================] - 54s 315ms/step - loss: 0.2039 - val_loss: 0.6974
Epoch 00005: early stopping

In [24]:

print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  80.0452%
Log Loss (CV):   0.5476

In [25]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [26]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [29]:
sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.0110  0.4027  0.5379  0.0460  0.0023
1      0.1638  0.6195  0.0244  0.1101  0.0823
2      0.9690  0.0190  0.0050  0.0019  0.0051
3      0.0010  0.0027  0.9945  0.0006  0.0012
4      0.8868  0.0168  0.0185  0.0572  0.0207

In [30]:
sub.to_csv(sub_file)