In [1]:

%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import string
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
from keras.layers import Input, Dense
from keras.models import Model
from tensorflow.keras import Sequential
from nltk.corpus import stopwords
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional, concatenate
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.layers import GRU
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [3]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [4]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [5]:
data_dir = Path('/content/drive/MyDrive/dacon/input')
feature_dir = Path('../build/feature')
val_dir = Path('/content/drive/MyDrive/dacon/build/val')
tst_dir = Path('/content/drive/MyDrive/dacon/build/tst')
sub_dir = Path('/content/drive/MyDrive/dacon/build/sub')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir / 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [6]:
algo_name = 'gru'
feature_name = 'emb'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [7]:
train = pd.read_csv(trn_file, index_col=0)
train.head()

                                                    text  author
index
0      He was almost choking. There was so much, so m...       3
1                 “Your sister asked for it, I suppose?”       2
2       She was engaged one day as she walked, in per...       1
3      The captain was in the porch, keeping himself ...       4
4      “Have mercy, gentlemen!” odin flung up his han...       3

In [8]:
test = pd.read_csv(tst_file, index_col=0)
test.head()

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [9]:

train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()

In [10]:
train['text'] = train['text'].str.replace('\?',' quesmark ')
train['text'] = train['text'].str.replace('\!',' exclmark ')
train['text'] = train['text'].str.replace('\&',' empent ')
train['text'] = train['text'].str.replace("\*",' chstar ')
train['text'] = train['text'].str.replace(";",' smcolons  ')

test['text'] = test['text'].str.replace('\?',' quesmark ')
test['text'] = test['text'].str.replace('\!',' exclmark ')
test['text'] = test['text'].str.replace('\&',' empent ')
test['text'] = test['text'].str.replace("\*",' chstar ')
test['text'] = test['text'].str.replace(";",' smcolons  ')

In [11]:

train['text']=train['text'].str.replace('\'s', ' is ')
train['text']=train['text'].str.replace('’s', ' is ')
train['text']=train['text'].str.replace('\'ll', ' will ')
train['text']=train['text'].str.replace('’ll', ' will ')
train['text']=train['text'].str.replace("\'", '')
train['text']=train['text'].str.replace("’", '')

test['text']=test['text'].str.replace("’s",' is ')
test['text']=test['text'].str.replace("\'s",' is ')
test['text']=test['text'].str.replace('\'ll', ' will ')
test['text']=test['text'].str.replace('’ll', ' will ')
test['text']=test['text'].str.replace("\'", '')
test['text']=test['text'].str.replace("’", '')

In [12]:
train['text']=train['text'].str.replace('á', ' Ascenda ')
train['text']=train['text'].str.replace('à', ' Descenda ')
train['text']=train['text'].str.replace('â', ' Stremama ')
train['text']=train['text'].str.replace('ä', ' Doublea ')
train['text']=train['text'].str.replace('é', ' Ascende ')
train['text']=train['text'].str.replace('í', ' Justi ')
train['text']=train['text'].str.replace('ï', ' Doublei ')
train['text']=train['text'].str.replace('ó', ' Comao ')
train['text']=train['text'].str.replace('ú', ' Ascendu ')
train['text']=train['text'].str.replace('ý', ' Ascendy ')
train['text']=train['text'].str.replace('ü', ' Umlaut ')
train['text']=train['text'].str.replace('è', ' Descende ')
train['text']=train['text'].str.replace('£', ' Maludf ')

test['text']=test['text'].str.replace('ä', ' Doublea ')
test['text']=test['text'].str.replace('â', ' Stremama ')
test['text']=test['text'].str.replace('à', ' Descenda ')
test['text']=test['text'].str.replace('á', ' Ascenda ')
test['text']=test['text'].str.replace('é', ' Ascende ')
test['text']=test['text'].str.replace('ï', ' Doublei ')
test['text']=test['text'].str.replace('í', ' Justi ')
test['text']=test['text'].str.replace('ó', ' Comao  ')
test['text']=test['text'].str.replace('ú', ' Ascendu ')
test['text']=test['text'].str.replace('ý', ' Ascendy ')
test['text']=test['text'].str.replace('ü', ' Umalut ')
test['text']=test['text'].str.replace('è', ' Descende ')
test['text']=test['text'].str.replace('£', ' Maludf ')

In [13]:
def alpha_num(text):
    return re.sub("\d+", ' num ', text)

train['text']=train['text'].str.lower().apply(alpha_num)
test['text']=test['text'].str.lower().apply(alpha_num)

In [14]:
train['text']=train['text'].str.replace('\(', ' ( ')
train['text']=train['text'].str.replace('\{', ' { ')
train['text']=train['text'].str.replace('\[', ' [ ')
train['text']=train['text'].str.replace('\)', ' ) ')
train['text']=train['text'].str.replace('\}', ' } ')
train['text']=train['text'].str.replace('\]', ' ] ')
train['text']=train['text'].str.replace('—', '')
train['text']=train['text'].str.replace('_', '')
train['text']=train['text'].str.replace(':', '')

test['text']=test['text'].str.replace('\(', ' ( ')
test['text']=test['text'].str.replace('\{', ' { ')
test['text']=test['text'].str.replace('\[', ' [ ')
test['text']=test['text'].str.replace('\)', ' ) ')
test['text']=test['text'].str.replace('\}', ' } ')
test['text']=test['text'].str.replace('\]', ' ] ')
test['text']=test['text'].str.replace('—', '')
test['text']=test['text'].str.replace('_', '')
test['text']=test['text'].str.replace(':', '')

In [15]:

import nltk
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [16]:
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.tokenize import TweetTokenizer

def lemma_text(text):
    tokenizer=TweetTokenizer()
    words=tokenizer.tokenize(text)
    lem = WordNetLemmatizer()
    words=[lem.lemmatize(word, "v") for word in words]
    
    clean_sent=" ".join(words)
    
    return clean_sent

train['text'] = train['text'].str.lower().apply(lemma_text)
test['text'] = test['text'].str.lower().apply(lemma_text)

In [19]:
X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [27]:
vocab_size = 21000
embedding_dim = 128
max_length = 360
padding_type='post'

In [28]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [29]:

train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [30]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 360) (19617, 360)

In [31]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [32]:

def get_model():
    model = Sequential([
    Embedding(vocab_size, embedding_dim, input_length=max_length),
    Bidirectional(GRU(128, return_sequences=True)),
    Bidirectional(GRU(128)),
    Dense(n_class, activation='sigmoid')
    ])
    
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.01))
    return model

In [33]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf = get_model()    
    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=256,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Epoch 1/10
172/172 [==============================] - 39s 228ms/step - loss: 0.9990 - val_loss: 0.6846
Epoch 2/10
172/172 [==============================] - 38s 221ms/step - loss: 0.5235 - val_loss: 0.6030
Epoch 3/10
172/172 [==============================] - 38s 220ms/step - loss: 0.3779 - val_loss: 0.7129
Epoch 4/10
172/172 [==============================] - 38s 221ms/step - loss: 0.3122 - val_loss: 0.7222
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2753Restoring model weights from the end of the best epoch.
172/172 [==============================] - 38s 220ms/step - loss: 0.2753 - val_loss: 0.7919
Epoch 00005: early stopping
training model for CV #2
Epoch 1/10
172/172 [==============================] - 38s 224ms/step - loss: 0.9303 - val_loss: 0.6547
Epoch 2/10
172/172 [==============================] - 37s 217ms/step - loss: 0.4876 - val_loss: 0.6201
Epoch 3/10
172/172 [==============================] - 38s 220ms/step - loss: 0.3839 - val_loss: 0.7186
Epoch 4/10
172/172 [==============================] - 38s 219ms/step - loss: 0.3631 - val_loss: 0.7383
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.4334Restoring model weights from the end of the best epoch.
172/172 [==============================] - 38s 220ms/step - loss: 0.4334 - val_loss: 0.8401
Epoch 00005: early stopping
training model for CV #3
Epoch 1/10
172/172 [==============================] - 38s 224ms/step - loss: 0.9670 - val_loss: 0.6483
Epoch 2/10
172/172 [==============================] - 38s 219ms/step - loss: 0.5095 - val_loss: 0.6243
Epoch 3/10
172/172 [==============================] - 37s 218ms/step - loss: 0.3671 - val_loss: 0.6666
Epoch 4/10
172/172 [==============================] - 38s 219ms/step - loss: 0.3481 - val_loss: 0.7125
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.3859Restoring model weights from the end of the best epoch.
172/172 [==============================] - 38s 219ms/step - loss: 0.3859 - val_loss: 0.9868
Epoch 00005: early stopping
training model for CV #4
Epoch 1/10
172/172 [==============================] - 39s 224ms/step - loss: 0.9862 - val_loss: 0.6580
Epoch 2/10
172/172 [==============================] - 38s 221ms/step - loss: 0.5046 - val_loss: 0.6360
Epoch 3/10
172/172 [==============================] - 38s 220ms/step - loss: 0.3855 - val_loss: 0.6560
Epoch 4/10
172/172 [==============================] - 38s 219ms/step - loss: 0.3006 - val_loss: 0.7106
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2698Restoring model weights from the end of the best epoch.
172/172 [==============================] - 38s 219ms/step - loss: 0.2698 - val_loss: 0.7505
Epoch 00005: early stopping
training model for CV #5
Epoch 1/10
172/172 [==============================] - 39s 224ms/step - loss: 0.9411 - val_loss: 0.6533
Epoch 2/10
172/172 [==============================] - 38s 218ms/step - loss: 0.6296 - val_loss: 0.6897
Epoch 3/10
172/172 [==============================] - 38s 219ms/step - loss: 0.4424 - val_loss: 0.6970
Epoch 4/10
172/172 [==============================] - ETA: 0s - loss: 0.3550Restoring model weights from the end of the best epoch.
172/172 [==============================] - 37s 218ms/step - loss: 0.3550 - val_loss: 0.7724
Epoch 00004: early stopping

In [34]:

print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  77.1789%
Log Loss (CV):   0.6273

In [35]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [36]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [37]:
sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.0061  0.5093  0.4278  0.0519  0.0023
1      0.2171  0.2993  0.0203  0.2102  0.1464
2      0.7886  0.0042  0.0048  0.0003  0.0014
3      0.0049  0.0106  0.8340  0.0046  0.0045
4      0.4947  0.0047  0.0128  0.0980  0.0542

In [38]:
sub.to_csv(sub_file)