In [1]:

%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import string
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
from keras.layers import Input, Dense
from keras.models import Model
from tensorflow.keras import Sequential
from nltk.corpus import stopwords
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional, concatenate
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.layers import GRU
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [3]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [4]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [5]:
data_dir = Path('/content/drive/MyDrive/dacon/input')
feature_dir = Path('../build/feature')
val_dir = Path('/content/drive/MyDrive/dacon/build/val')
tst_dir = Path('/content/drive/MyDrive/dacon/build/tst')
sub_dir = Path('/content/drive/MyDrive/dacon/build/sub')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir / 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [6]:
algo_name = 'gru'
feature_name = 'emb'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [7]:
train = pd.read_csv(trn_file, index_col=0)
train.head()

                                                    text  author
index
0      He was almost choking. There was so much, so m...       3
1                 “Your sister asked for it, I suppose?”       2
2       She was engaged one day as she walked, in per...       1
3      The captain was in the porch, keeping himself ...       4
4      “Have mercy, gentlemen!” odin flung up his han...       3

In [8]:
test = pd.read_csv(tst_file, index_col=0)
test.head()

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [9]:

train['text']=train['text'].str.replace('\'s', '')
train['text']=train['text'].str.replace('’s', '')
train['text']=train['text'].str.replace('\'ll', '')
train['text']=train['text'].str.replace('’ll', '')
train['text']=train['text'].str.replace("\'", '')
train['text']=train['text'].str.replace("’", '')

test['text']=test['text'].str.replace("’s",'')
test['text']=test['text'].str.replace("\'s",'')
test['text']=test['text'].str.replace('\'ll', '')
test['text']=test['text'].str.replace('’ll', '')
test['text']=test['text'].str.replace("\'", '')
test['text']=test['text'].str.replace("’", '')

In [10]:
train['text']=train['text'].str.replace('á', ' Ascenda ')
train['text']=train['text'].str.replace('à', ' Descenda ')
train['text']=train['text'].str.replace('â', ' Stremama ')
train['text']=train['text'].str.replace('ä', ' Doublea ')
train['text']=train['text'].str.replace('é', ' Ascende ')
train['text']=train['text'].str.replace('í', ' Justi ')
train['text']=train['text'].str.replace('ï', ' Doublei ')
train['text']=train['text'].str.replace('ó', ' Comao ')
train['text']=train['text'].str.replace('ú', ' Ascendu ')
train['text']=train['text'].str.replace('ý', ' Ascendy ')
train['text']=train['text'].str.replace('ü', ' Umlaut ')
train['text']=train['text'].str.replace('è', ' Descende ')
train['text']=train['text'].str.replace('£', ' Maludf ')

test['text']=test['text'].str.replace('ä', ' Doublea ')
test['text']=test['text'].str.replace('â', ' Stremama ')
test['text']=test['text'].str.replace('à', ' Descenda ')
test['text']=test['text'].str.replace('á', ' Ascenda ')
test['text']=test['text'].str.replace('é', ' Ascende ')
test['text']=test['text'].str.replace('ï', ' Doublei ')
test['text']=test['text'].str.replace('í', ' Justi ')
test['text']=test['text'].str.replace('ó', ' Comao  ')
test['text']=test['text'].str.replace('ú', ' Ascendu ')
test['text']=test['text'].str.replace('ý', ' Ascendy ')
test['text']=test['text'].str.replace('ü', ' Umalut ')
test['text']=test['text'].str.replace('è', ' Descende ')
test['text']=test['text'].str.replace('£', ' Maludf ')

In [11]:
def alpha_num(text):
    return re.sub("\d+", ' num ', text)

train['text']=train['text'].str.lower().apply(alpha_num)
test['text']=test['text'].str.lower().apply(alpha_num)

In [12]:
train['text']=train['text'].str.replace('\(', ' \( ')
train['text']=train['text'].str.replace('\{', ' \{ ')
train['text']=train['text'].str.replace('\[', ' \[ ')
train['text']=train['text'].str.replace('\)', ' \) ')
train['text']=train['text'].str.replace('\}', ' \} ')
train['text']=train['text'].str.replace('\]', ' \] ')
train['text']=train['text'].str.replace('—', '')
train['text']=train['text'].str.replace('_', '')
train['text']=train['text'].str.replace(':', '')
train['text']=train['text'].str.replace("‘",' ‘ ')
train['text']=train['text'].str.replace("“",' “ ')
train['text'] = train['text'].str.replace('\?',' \? ')
train['text'] = train['text'].str.replace('\!',' \? ')
train['text'] = train['text'].str.replace('\&',' \& ')
train['text'] = train['text'].str.replace("\*",' \* ')
train['text'] = train['text'].str.replace(";",' \; ')

test['text'] = test['text'].str.replace('\?',' \? ')
test['text'] = test['text'].str.replace('\!',' \! ')
test['text'] = test['text'].str.replace('\&',' \& ')
test['text'] = test['text'].str.replace("\*",' \* ')
test['text'] = test['text'].str.replace(";",' \; ')
test['text']=test['text'].str.replace('\(', ' \( ')
test['text']=test['text'].str.replace('\{', ' \{ ')
test['text']=test['text'].str.replace('\[', ' \[ ')
test['text']=test['text'].str.replace('\)', ' \) ')
test['text']=test['text'].str.replace('\}', ' \} ')
test['text']=test['text'].str.replace('\]', ' \] ')
test['text']=test['text'].str.replace('—', '')
test['text']=test['text'].str.replace('_', '')
test['text']=test['text'].str.replace(':', '')
test['text']=test['text'].str.replace("‘",' ‘ ')
test['text']=test['text'].str.replace("“",' “ ')

In [13]:
X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [14]:
vocab_size = 21000
embedding_dim = 128
max_length = 300
padding_type='post'

In [15]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [16]:

train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [17]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 300) (19617, 300)

In [18]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [19]:

def get_model():
    model = Sequential([
    Embedding(vocab_size, embedding_dim, input_length=max_length),
    Bidirectional(GRU(128, return_sequences=True)),
    Bidirectional(GRU(128)),
    Dense(n_class, activation='sigmoid')
    ])
    
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.01))
    return model

In [20]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf = get_model()    
    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=256,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Epoch 1/10
172/172 [==============================] - 31s 179ms/step - loss: 0.9754 - val_loss: 0.6490
Epoch 2/10
172/172 [==============================] - 30s 173ms/step - loss: 0.4833 - val_loss: 0.6282
Epoch 3/10
172/172 [==============================] - 30s 173ms/step - loss: 0.3448 - val_loss: 0.6605
Epoch 4/10
172/172 [==============================] - 30s 172ms/step - loss: 0.2848 - val_loss: 0.7413
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2680Restoring model weights from the end of the best epoch.
172/172 [==============================] - 30s 172ms/step - loss: 0.2680 - val_loss: 0.8493
Epoch 00005: early stopping
training model for CV #2
Epoch 1/10
172/172 [==============================] - 30s 177ms/step - loss: 0.9359 - val_loss: 0.6638
Epoch 2/10
172/172 [==============================] - 29s 170ms/step - loss: 0.4770 - val_loss: 0.6484
Epoch 3/10
172/172 [==============================] - 29s 171ms/step - loss: 0.3310 - val_loss: 0.6781
Epoch 4/10
172/172 [==============================] - 29s 170ms/step - loss: 0.2639 - val_loss: 0.8005
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.3128Restoring model weights from the end of the best epoch.
172/172 [==============================] - 29s 171ms/step - loss: 0.3128 - val_loss: 0.8519
Epoch 00005: early stopping
training model for CV #3
Epoch 1/10
172/172 [==============================] - 30s 177ms/step - loss: 1.0538 - val_loss: 0.7571
Epoch 2/10
172/172 [==============================] - 30s 173ms/step - loss: 0.5968 - val_loss: 0.7176
Epoch 3/10
172/172 [==============================] - 30s 173ms/step - loss: 0.4160 - val_loss: 0.7094
Epoch 4/10
172/172 [==============================] - 30s 172ms/step - loss: 0.3245 - val_loss: 0.7673
Epoch 5/10
172/172 [==============================] - 30s 172ms/step - loss: 0.2867 - val_loss: 0.8922
Epoch 6/10
172/172 [==============================] - ETA: 0s - loss: 0.2629Restoring model weights from the end of the best epoch.
172/172 [==============================] - 30s 173ms/step - loss: 0.2629 - val_loss: 0.8580
Epoch 00006: early stopping
training model for CV #4
Epoch 1/10
172/172 [==============================] - 30s 177ms/step - loss: 0.9483 - val_loss: 0.6446
Epoch 2/10
172/172 [==============================] - 29s 171ms/step - loss: 0.4764 - val_loss: 0.6484
Epoch 3/10
172/172 [==============================] - 29s 171ms/step - loss: 0.3402 - val_loss: 0.6780
Epoch 4/10
172/172 [==============================] - ETA: 0s - loss: 0.2949Restoring model weights from the end of the best epoch.
172/172 [==============================] - 30s 172ms/step - loss: 0.2949 - val_loss: 0.7643
Epoch 00004: early stopping
training model for CV #5
Epoch 1/10
172/172 [==============================] - 30s 176ms/step - loss: 0.9489 - val_loss: 0.7172
Epoch 2/10
172/172 [==============================] - 30s 172ms/step - loss: 0.4919 - val_loss: 0.6144
Epoch 3/10
172/172 [==============================] - 29s 171ms/step - loss: 0.3424 - val_loss: 0.6880
Epoch 4/10
172/172 [==============================] - 29s 171ms/step - loss: 0.2734 - val_loss: 0.7632
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.3000Restoring model weights from the end of the best epoch.
172/172 [==============================] - 29s 171ms/step - loss: 0.3000 - val_loss: 0.8257
Epoch 00005: early stopping

In [21]:

print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  76.6942%
Log Loss (CV):   0.6490

In [22]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [23]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [24]:
sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.0112  0.3980  0.4921  0.0546  0.0015
1      0.3511  0.2028  0.0099  0.0476  0.3852
2      0.7241  0.0044  0.0049  0.0007  0.0055
3      0.0059  0.0036  0.6781  0.0033  0.0095
4      0.5257  0.0021  0.0220  0.0140  0.0117

In [25]:
sub.to_csv(sub_file)