In [1]:

%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import string
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
from keras.layers import Input, Dense
from keras.models import Model
from tensorflow.keras import Sequential
from nltk.corpus import stopwords
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional, concatenate
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.layers import GRU
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [3]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [4]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [5]:
data_dir = Path('/content/drive/MyDrive/dacon/input')
feature_dir = Path('../build/feature')
val_dir = Path('/content/drive/MyDrive/dacon/build/val')
tst_dir = Path('/content/drive/MyDrive/dacon/build/tst')
sub_dir = Path('/content/drive/MyDrive/dacon/build/sub')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir / 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [15]:
algo_name = 'gru'
feature_name = 'emb2'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [16]:
train = pd.read_csv(trn_file, index_col=0)
train.head()

                                                    text  author
index
0      He was almost choking. There was so much, so m...       3
1                 “Your sister asked for it, I suppose?”       2
2       She was engaged one day as she walked, in per...       1
3      The captain was in the porch, keeping himself ...       4
4      “Have mercy, gentlemen!” odin flung up his han...       3

In [17]:
test = pd.read_csv(tst_file, index_col=0)
test.head()

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [18]:

train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()

In [19]:
train['text'] = train['text'].str.replace('\?',' quesmark ')
train['text'] = train['text'].str.replace('\!',' exclmark ')
train['text'] = train['text'].str.replace('\&',' empent ')
train['text'] = train['text'].str.replace("\*",' chstar ')
train['text'] = train['text'].str.replace(";",' smcolons  ')

test['text'] = test['text'].str.replace('\?',' quesmark ')
test['text'] = test['text'].str.replace('\!',' exclmark ')
test['text'] = test['text'].str.replace('\&',' empent ')
test['text'] = test['text'].str.replace("\*",' chstar ')
test['text'] = test['text'].str.replace(";",' smcolons  ')

In [20]:
train['text']=train['text'].str.replace('á', ' Ascenda ')
train['text']=train['text'].str.replace('à', ' Descenda ')
train['text']=train['text'].str.replace('â', ' Stremama ')
train['text']=train['text'].str.replace('ä', ' Doublea ')
train['text']=train['text'].str.replace('é', ' Ascende ')
train['text']=train['text'].str.replace('í', ' Justi ')
train['text']=train['text'].str.replace('ï', ' Doublei ')
train['text']=train['text'].str.replace('ó', ' Comao ')
train['text']=train['text'].str.replace('ú', ' Ascendu ')
train['text']=train['text'].str.replace('ý', ' Ascendy ')
train['text']=train['text'].str.replace('ü', ' Umlaut ')
train['text']=train['text'].str.replace('è', ' Descende ')
train['text']=train['text'].str.replace('£', ' Maludf ')

test['text']=test['text'].str.replace('ä', ' Doublea ')
test['text']=test['text'].str.replace('â', ' Stremama ')
test['text']=test['text'].str.replace('à', ' Descenda ')
test['text']=test['text'].str.replace('á', ' Ascenda ')
test['text']=test['text'].str.replace('é', ' Ascende ')
test['text']=test['text'].str.replace('ï', ' Doublei ')
test['text']=test['text'].str.replace('í', ' Justi ')
test['text']=test['text'].str.replace('ó', ' Comao  ')
test['text']=test['text'].str.replace('ú', ' Ascendu ')
test['text']=test['text'].str.replace('ý', ' Ascendy ')
test['text']=test['text'].str.replace('ü', ' Umalut ')
test['text']=test['text'].str.replace('è', ' Descende ')
test['text']=test['text'].str.replace('£', ' Maludf ')

In [21]:
from collections import Counter
cnt = Counter()
for text in train["text"].values:
    for word in text.split():
        cnt[word] += 1

In [22]:
n_rare_words = 30
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

train["text"] = train["text"].str.lower().apply(remove_rarewords)

In [23]:
train['text']=train['text'].str.replace('\(', ' ( ')
train['text']=train['text'].str.replace('\{', ' { ')
train['text']=train['text'].str.replace('\[', ' [ ')
train['text']=train['text'].str.replace('\)', ' ) ')
train['text']=train['text'].str.replace('\}', ' } ')
train['text']=train['text'].str.replace('\]', ' ] ')
train['text']=train['text'].str.replace('‘', '')
train['text']=train['text'].str.replace('—', '')


test['text']=test['text'].str.replace('\(', ' ( ')
test['text']=test['text'].str.replace('\{', ' { ')
test['text']=test['text'].str.replace('\[', ' [ ')
test['text']=test['text'].str.replace('\)', ' ) ')
test['text']=test['text'].str.replace('\}', ' } ')
test['text']=test['text'].str.replace('\]', ' ] ')
test['text']=test['text'].str.replace('‘', '')
test['text']=test['text'].str.replace('—', '')

In [24]:

import nltk
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [25]:
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.tokenize import TweetTokenizer

def lemma_text(text):
    tokenizer=TweetTokenizer()
    words=tokenizer.tokenize(text)
    lem = WordNetLemmatizer()
    words=[lem.lemmatize(word, "v") for word in words]
    
    clean_sent=" ".join(words)
    
    return clean_sent

train['text'] = train['text'].str.lower().apply(lemma_text)
test['text'] = test['text'].str.lower().apply(lemma_text)

In [26]:
X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [34]:
vocab_size = 21000
embedding_dim = 128
max_length = 450
padding_type='post'

In [35]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [36]:

train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [37]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 450) (19617, 450)

In [38]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [39]:

def get_model():
    model = Sequential([
    Embedding(vocab_size, embedding_dim, input_length=max_length),
    Bidirectional(GRU(128, return_sequences=True)),
    Bidirectional(GRU(128)),
    Dense(n_class, activation='softmax')
    ])
    
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.005))
    return model

In [40]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf = get_model()    
    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=256,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Epoch 1/10
172/172 [==============================] - 46s 268ms/step - loss: 0.9321 - val_loss: 0.6479
Epoch 2/10
172/172 [==============================] - 45s 265ms/step - loss: 0.4873 - val_loss: 0.5701
Epoch 3/10
172/172 [==============================] - 46s 265ms/step - loss: 0.3459 - val_loss: 0.6311
Epoch 4/10
172/172 [==============================] - 46s 266ms/step - loss: 0.2703 - val_loss: 0.6840
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2211Restoring model weights from the end of the best epoch.
172/172 [==============================] - 46s 265ms/step - loss: 0.2211 - val_loss: 0.7685
Epoch 00005: early stopping
training model for CV #2
Epoch 1/10
172/172 [==============================] - 46s 269ms/step - loss: 0.9434 - val_loss: 0.6290
Epoch 2/10
172/172 [==============================] - 45s 264ms/step - loss: 0.4880 - val_loss: 0.5869
Epoch 3/10
172/172 [==============================] - 45s 265ms/step - loss: 0.3440 - val_loss: 0.6280
Epoch 4/10
172/172 [==============================] - 46s 265ms/step - loss: 0.2684 - val_loss: 0.6558
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2185Restoring model weights from the end of the best epoch.
172/172 [==============================] - 45s 264ms/step - loss: 0.2185 - val_loss: 0.7346
Epoch 00005: early stopping
training model for CV #3
Epoch 1/10
172/172 [==============================] - 47s 272ms/step - loss: 0.9296 - val_loss: 0.6240
Epoch 2/10
172/172 [==============================] - 46s 265ms/step - loss: 0.4785 - val_loss: 0.5804
Epoch 3/10
172/172 [==============================] - 46s 265ms/step - loss: 0.3408 - val_loss: 0.5978
Epoch 4/10
172/172 [==============================] - 46s 266ms/step - loss: 0.2695 - val_loss: 0.6691
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2253Restoring model weights from the end of the best epoch.
172/172 [==============================] - 46s 266ms/step - loss: 0.2253 - val_loss: 0.7266
Epoch 00005: early stopping
training model for CV #4
Epoch 1/10
172/172 [==============================] - 47s 272ms/step - loss: 0.9425 - val_loss: 0.7176
Epoch 2/10
172/172 [==============================] - 46s 270ms/step - loss: 0.5008 - val_loss: 0.5701
Epoch 3/10
172/172 [==============================] - 47s 271ms/step - loss: 0.3448 - val_loss: 0.6073
Epoch 4/10
172/172 [==============================] - 47s 271ms/step - loss: 0.2733 - val_loss: 0.6667
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2175Restoring model weights from the end of the best epoch.
172/172 [==============================] - 46s 270ms/step - loss: 0.2175 - val_loss: 0.7464
Epoch 00005: early stopping
training model for CV #5
Epoch 1/10
172/172 [==============================] - 47s 273ms/step - loss: 1.0395 - val_loss: 0.7666
Epoch 2/10
172/172 [==============================] - 46s 268ms/step - loss: 0.5843 - val_loss: 0.6289
Epoch 3/10
172/172 [==============================] - 46s 269ms/step - loss: 0.4120 - val_loss: 0.6353
Epoch 4/10
172/172 [==============================] - 46s 269ms/step - loss: 0.3264 - val_loss: 0.7302
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2752Restoring model weights from the end of the best epoch.
172/172 [==============================] - 46s 270ms/step - loss: 0.2752 - val_loss: 0.7586
Epoch 00005: early stopping

In [41]:

print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  78.5364%
Log Loss (CV):   0.5873

In [42]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [43]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [44]:
sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.0084  0.5613  0.4033  0.0240  0.0030
1      0.1384  0.4719  0.0392  0.1579  0.1925
2      0.9808  0.0108  0.0035  0.0004  0.0045
3      0.0011  0.0043  0.9701  0.0162  0.0083
4      0.7072  0.0171  0.0362  0.2063  0.0331

In [45]:
sub.to_csv(sub_file)