In [2]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import string
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
from keras.layers import Input, Dense
from keras.models import Model
from tensorflow.keras import Sequential
from nltk.corpus import stopwords
from tensorflow.keras.layers import Dense, Embedding, LSTM,GRU, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional, concatenate
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [4]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [5]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [6]:
data_dir = Path('/content/drive/MyDrive/dacon/input')
feature_dir = Path('../build/feature')
val_dir = Path('/content/drive/MyDrive/dacon/build/val')
tst_dir = Path('/content/drive/MyDrive/dacon/build/tst')
sub_dir = Path('/content/drive/MyDrive/dacon/build/sub')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir / 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [7]:
algo_name = 'lstm'
feature_name = 'emb2'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [11]:
train = pd.read_csv(trn_file, index_col=0)
train.head()

                                                    text  author
index
0      He was almost choking. There was so much, so m...       3
1                 “Your sister asked for it, I suppose?”       2
2       She was engaged one day as she walked, in per...       1
3      The captain was in the porch, keeping himself ...       4
4      “Have mercy, gentlemen!” odin flung up his han...       3

In [12]:
test = pd.read_csv(tst_file, index_col=0)
test.head()

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [ ]:
test[test['text'].str.contains("½")]

                                                    text
index
14815  “Oh, no, sir. It is quite separate and was lef...

In [ ]:
from tensorflow.keras.preprocessing.text import text_to_word_sequence
puncts = [',', '.', '"', ':', ')', '(', '-', '!', '?', '|', ';', "'", '$', '&', '/', '[', ']',
          '>', '%', '=', '#', '*', '+', '\\', '•', '~', '@', '£', '·', '_', '{', '}', '©', '^',
          '®', '`', '<', '→', '°', '€', '™', '›', '♥', '←', '×', '§', '″', '′', 'Â', '█',
          '½', 'à', '…', '“', '★', '”', '–', '●', 'â', '►', '−', '¢', '²', '¬', '░', '¶',
          '↑', '±', '¿', '▾', '═', '¦', '║', '―', '¥', '▓', '—', '‹', '─', '▒', '：', '¼',
          '⊕', '▼', '▪', '†', '■', '’', '▀', '¨', '▄', '♫', '☆', 'é', '¯', '♦', '¤', '▲',
          'è', '¸', '¾', 'Ã', '⋅', '‘', '∞', '∙', '）', '↓', '、', '│', '（', '»', '，', '♪',
          '╩', '╚', '³', '・', '╦', '╣', '╔', '╗', '▬', '❤', 'ï', 'Ø', '¹', '≤', '‡', '√']
result=set()

def find_puncts(text):
    global result
    words = text_to_word_sequence(text)
    for word in words :
      for character in word :
        if character in puncts : result.add(character)

    return

test['text'].str.lower().apply(find_puncts)
result

{"'", '£', '½', 'à', 'â', 'è', 'é', 'ï', '—', '‘', '’', '“', '”'}

In [13]:
train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()

In [14]:
train['text'] = train['text'].str.replace('\?',' quesmark ')
train['text'] = train['text'].str.replace('\!',' exclmark ')
train['text'] = train['text'].str.replace('\&',' empent ')
train['text'] = train['text'].str.replace("\*",' chstar ')
train['text'] = train['text'].str.replace(";",' smcolons  ')

test['text'] = test['text'].str.replace('\?',' quesmark ')
test['text'] = test['text'].str.replace('\!',' exclmark ')
test['text'] = test['text'].str.replace('\&',' empent ')
test['text'] = test['text'].str.replace("\*",' chstar ')
test['text'] = test['text'].str.replace(";",' smcolons  ')

In [15]:
from collections import Counter
cnt = Counter()
for text in train["text"].values:
    for word in text.split():
        cnt[word] += 1

In [16]:

n_rare_words = 40
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

train["text"] = train["text"].str.lower().apply(remove_rarewords)

In [17]:

train['text']=train['text'].str.replace('á', ' Ascenda ')
train['text']=train['text'].str.replace('à', ' Descenda ')
train['text']=train['text'].str.replace('â', ' Stremama ')
train['text']=train['text'].str.replace('ä', ' Doublea ')
train['text']=train['text'].str.replace('é', ' Ascende ')
train['text']=train['text'].str.replace('í', ' Justi ')
train['text']=train['text'].str.replace('ï', ' Doublei ')
train['text']=train['text'].str.replace('ó', ' Comao ')
train['text']=train['text'].str.replace('ú', ' Ascendu ')
train['text']=train['text'].str.replace('ý', ' Ascendy ')
train['text']=train['text'].str.replace('ü', ' Umlaut ')
train['text']=train['text'].str.replace('è', ' Descende ')
train['text']=train['text'].str.replace('£', ' Maludf ')

test['text']=test['text'].str.replace('ä', ' Doublea ')
test['text']=test['text'].str.replace('â', ' Stremama ')
test['text']=test['text'].str.replace('à', ' Descenda ')
test['text']=test['text'].str.replace('á', ' Ascenda ')
test['text']=test['text'].str.replace('é', ' Ascende ')
test['text']=test['text'].str.replace('ï', ' Doublei ')
test['text']=test['text'].str.replace('í', ' Justi ')
test['text']=test['text'].str.replace('ó', ' Comao  ')
test['text']=test['text'].str.replace('ú', ' Ascendu ')
test['text']=test['text'].str.replace('ý', ' Ascendy ')
test['text']=test['text'].str.replace('ü', ' Umalut ')
test['text']=test['text'].str.replace('è', ' Descende ')
test['text']=test['text'].str.replace('£', ' Maludf ')

In [18]:
train['text']=train['text'].str.replace('\(', ' \( ')
train['text']=train['text'].str.replace('\{', ' \{ ')
train['text']=train['text'].str.replace('\[', ' \[ ')
train['text']=train['text'].str.replace('\)', ' \) ')
train['text']=train['text'].str.replace('\}', ' \} ')
train['text']=train['text'].str.replace('\]', ' \] ')
train['text']=train['text'].str.replace('—', '')
train['text']=train['text'].str.replace('_', '')
train['text']=train['text'].str.replace(':', '')


test['text']=test['text'].str.replace('\(', ' \( ')
test['text']=test['text'].str.replace('\{', ' \{ ')
test['text']=test['text'].str.replace('\[', ' \[ ')
test['text']=test['text'].str.replace('\)', ' \) ')
test['text']=test['text'].str.replace('\}', ' \} ')
test['text']=test['text'].str.replace('\]', ' \] ')
test['text']=test['text'].str.replace('—', '')
test['text']=test['text'].str.replace('_', '')
test['text']=test['text'].str.replace(':', '')

In [19]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [20]:
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.tokenize import TweetTokenizer

def lemma_text(text):
    tokenizer=TweetTokenizer()
    words=tokenizer.tokenize(text)
    lem = WordNetLemmatizer()
    words=[lem.lemmatize(word, "v") for word in words]
    
    clean_sent=" ".join(words)
    
    return clean_sent

train['text'] = train['text'].str.lower().apply(lemma_text)
test['text'] = test['text'].str.lower().apply(lemma_text)

In [21]:
X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [22]:
vocab_size = 21000
embedding_dim = 128
max_length = 520
padding_type='post'

In [23]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [24]:
train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [25]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 520) (19617, 520)

In [26]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [27]:
def get_model():
    model = Sequential([
        Embedding(vocab_size, embedding_dim, input_length=max_length),
        Bidirectional(LSTM(128, return_sequences=True)),
        Bidirectional(LSTM(128)),
        Dense(n_class, activation='softmax')
    ])
    
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.01))
    return model

In [28]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    clf = get_model()
    
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=256,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Epoch 1/10
172/172 [==============================] - 61s 352ms/step - loss: 1.0720 - val_loss: 0.7842
Epoch 2/10
172/172 [==============================] - 60s 347ms/step - loss: 0.5781 - val_loss: 0.6462
Epoch 3/10
172/172 [==============================] - 60s 348ms/step - loss: 0.4023 - val_loss: 0.6299
Epoch 4/10
172/172 [==============================] - 60s 347ms/step - loss: 0.3095 - val_loss: 0.6736
Epoch 5/10
172/172 [==============================] - 60s 347ms/step - loss: 0.2584 - val_loss: 0.7107
Epoch 6/10
172/172 [==============================] - ETA: 0s - loss: 0.2204Restoring model weights from the end of the best epoch.
172/172 [==============================] - 60s 349ms/step - loss: 0.2204 - val_loss: 0.7810
Epoch 00006: early stopping
training model for CV #2
Epoch 1/10
172/172 [==============================] - 61s 354ms/step - loss: 1.0054 - val_loss: 0.7153
Epoch 2/10
172/172 [==============================] - 60s 346ms/step - loss: 0.5331 - val_loss: 0.5931
Epoch 3/10
172/172 [==============================] - 60s 347ms/step - loss: 0.3685 - val_loss: 0.6261
Epoch 4/10
172/172 [==============================] - 60s 347ms/step - loss: 0.2872 - val_loss: 0.6495
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2442Restoring model weights from the end of the best epoch.
172/172 [==============================] - 60s 347ms/step - loss: 0.2442 - val_loss: 0.6901
Epoch 00005: early stopping
training model for CV #3
Epoch 1/10
172/172 [==============================] - 61s 355ms/step - loss: 1.0843 - val_loss: 0.7642
Epoch 2/10
172/172 [==============================] - 60s 349ms/step - loss: 0.5549 - val_loss: 0.5985
Epoch 3/10
172/172 [==============================] - 60s 349ms/step - loss: 0.3915 - val_loss: 0.6051
Epoch 4/10
172/172 [==============================] - 60s 350ms/step - loss: 0.3090 - val_loss: 0.6156
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2473Restoring model weights from the end of the best epoch.
172/172 [==============================] - 60s 349ms/step - loss: 0.2473 - val_loss: 0.6834
Epoch 00005: early stopping
training model for CV #4
Epoch 1/10
172/172 [==============================] - 61s 356ms/step - loss: 1.0104 - val_loss: 0.7172
Epoch 2/10
172/172 [==============================] - 60s 349ms/step - loss: 0.5502 - val_loss: 0.5797
Epoch 3/10
172/172 [==============================] - 60s 351ms/step - loss: 0.3906 - val_loss: 0.5911
Epoch 4/10
172/172 [==============================] - 60s 351ms/step - loss: 0.3052 - val_loss: 0.6326
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2499Restoring model weights from the end of the best epoch.
172/172 [==============================] - 60s 351ms/step - loss: 0.2499 - val_loss: 0.6952
Epoch 00005: early stopping
training model for CV #5
Epoch 1/10
172/172 [==============================] - 61s 356ms/step - loss: 1.0409 - val_loss: 0.7306
Epoch 2/10
172/172 [==============================] - 59s 345ms/step - loss: 0.5583 - val_loss: 0.5917
Epoch 3/10
172/172 [==============================] - 59s 345ms/step - loss: 0.3780 - val_loss: 0.6383
Epoch 4/10
172/172 [==============================] - 59s 345ms/step - loss: 0.2946 - val_loss: 0.6774
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2468Restoring model weights from the end of the best epoch.
172/172 [==============================] - 59s 346ms/step - loss: 0.2468 - val_loss: 0.6682
Epoch 00005: early stopping

In [29]:
print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  78.7933%
Log Loss (CV):   0.5986

In [30]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [31]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [32]:

sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.0163  0.3384  0.4136  0.2288  0.0028
1      0.1229  0.4208  0.0256  0.3181  0.1126
2      0.8460  0.0275  0.0196  0.0056  0.1013
3      0.0041  0.0094  0.9651  0.0116  0.0098
4      0.7038  0.0135  0.0427  0.1994  0.0406

In [33]:

sub.to_csv(sub_file)