In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
from matplotlib import rcParams, pyplot as plt
import numpy as np
import string
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
from keras.layers import Input, Dense
from keras.models import Model
from tensorflow.keras import Sequential
from nltk.corpus import stopwords
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional, concatenate
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [3]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    # Restrict TensorFlow to only use the first GPU
    try:
        tf.config.experimental.set_visible_devices(gpus[0], 'GPU')
        logical_gpus = tf.config.experimental.list_logical_devices('GPU')
        print(len(gpus), "Physical GPUs,", len(logical_gpus), "Logical GPU")
    except RuntimeError as e:
        # Visible devices must be set before GPUs have been initialized
        print(e)
else:
    print('No GPU detected')

1 Physical GPUs, 1 Logical GPU

In [4]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [5]:
data_dir = Path('/content/drive/MyDrive/dacon/input')
feature_dir = Path('../build/feature')
val_dir = Path('/content/drive/MyDrive/dacon/build/val')
tst_dir = Path('/content/drive/MyDrive/dacon/build/tst')
sub_dir = Path('/content/drive/MyDrive/dacon/build/sub')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir / 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [6]:
algo_name = 'lstm'
feature_name = 'emb'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [7]:
train = pd.read_csv(trn_file, index_col=0)
train.head()

                                                    text  author
index
0      He was almost choking. There was so much, so m...       3
1                 “Your sister asked for it, I suppose?”       2
2       She was engaged one day as she walked, in per...       1
3      The captain was in the porch, keeping himself ...       4
4      “Have mercy, gentlemen!” odin flung up his han...       3

In [8]:
test = pd.read_csv(tst_file, index_col=0)
test.head()

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [9]:

train['text'] = train['text'].str.replace('\?',' quesmark ')
train['text'] = train['text'].str.replace('\!',' exclmark ')
train['text'] = train['text'].str.replace('\&',' empent ')
train['text'] = train['text'].str.replace("\*",' chstar ')
train['text'] = train['text'].str.replace(";",' smcolons  ')

test['text'] = test['text'].str.replace('\?',' quesmark ')
test['text'] = test['text'].str.replace('\!',' exclmark ')
test['text'] = test['text'].str.replace('\&',' empent ')
test['text'] = test['text'].str.replace("\*",' chstar ')
test['text'] = test['text'].str.replace(";",' smcolons  ')

In [10]:
train['text']=train['text'].str.replace('\'s', '')
train['text']=train['text'].str.replace('’s', '')
train['text']=train['text'].str.replace("\'", '')
train['text']=train['text'].str.replace("’", '')

test['text']=test['text'].str.replace("’s",'')
test['text']=test['text'].str.replace("\'s",'')
test['text']=test['text'].str.replace("\'", '')
test['text']=test['text'].str.replace("’", '')

In [11]:
train['text']=train['text'].str.replace('á', '')
train['text']=train['text'].str.replace('ä', '')
train['text']=train['text'].str.replace('é', '')
train['text']=train['text'].str.replace('í', '')
train['text']=train['text'].str.replace('ó', '')
train['text']=train['text'].str.replace('ú', '')
train['text']=train['text'].str.replace('ý', '')
train['text']=train['text'].str.replace('ü', ' Umlaut ')

test['text']=test['text'].str.replace('ä', '')
test['text']=test['text'].str.replace('á', '')
test['text']=test['text'].str.replace('é', '')
test['text']=test['text'].str.replace('í', '')
test['text']=test['text'].str.replace('ó', '')
test['text']=test['text'].str.replace('ú', '')
test['text']=test['text'].str.replace('ý', '')
test['text']=test['text'].str.replace('ü', ' Umlaut ')

In [12]:
def alpha_num(text):
    return re.sub("\d+", ' num ', text)

train['text']=train['text'].apply(alpha_num)
test['text']=test['text'].apply(alpha_num)

In [13]:
train['text']=train['text'].str.replace('\(', ' \( ')
train['text']=train['text'].str.replace('\{', ' \{ ')
train['text']=train['text'].str.replace('\[', ' \[ ')
train['text']=train['text'].str.replace('\)', ' \) ')
train['text']=train['text'].str.replace('\}', ' \} ')
train['text']=train['text'].str.replace('\]', ' \] ')
train['text']=train['text'].str.replace('—', '')
train['text']=train['text'].str.replace('_', '')
train['text']=train['text'].str.replace(':', '')
train['text']=train['text'].str.replace("‘",' ‘ ')
train['text']=train['text'].str.replace("“",' “ ')

test['text']=test['text'].str.replace('\(', ' \( ')
test['text']=test['text'].str.replace('\{', ' \{ ')
test['text']=test['text'].str.replace('\[', ' \[ ')
test['text']=test['text'].str.replace('\)', ' \) ')
test['text']=test['text'].str.replace('\}', ' \} ')
test['text']=test['text'].str.replace('\]', ' \] ')
test['text']=test['text'].str.replace('—', '')
test['text']=test['text'].str.replace('_', '')
test['text']=test['text'].str.replace(':', '')
test['text']=test['text'].str.replace("‘",' ‘ ')
test['text']=test['text'].str.replace("“",' “ ')

In [14]:

X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [15]:

vocab_size = 21000
embedding_dim = 128
max_length = 250
padding_type='post'

In [16]:
tokenizer = Tokenizer(num_words = vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [17]:
train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [18]:
trn = pad_sequences(train_sequences, padding=padding_type, maxlen=max_length)
tst = pad_sequences(test_sequences, padding=padding_type, maxlen=max_length)
print(trn.shape, tst.shape)

(54879, 250) (19617, 250)

In [19]:
cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [20]:
def get_model():
    model = Sequential([
        Embedding(vocab_size, embedding_dim, input_length=max_length),
        Bidirectional(LSTM(128, return_sequences=True)),
        Bidirectional(LSTM(128)),
        Dense(n_class, activation='softmax')
    ])
    
    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.01))
    return model

In [21]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    clf = get_model()
    
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=256,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold

training model for CV #1
Epoch 1/10
172/172 [==============================] - 32s 186ms/step - loss: 1.0465 - val_loss: 0.7669
Epoch 2/10
172/172 [==============================] - 31s 182ms/step - loss: 0.6030 - val_loss: 0.6563
Epoch 3/10
172/172 [==============================] - 31s 180ms/step - loss: 0.3973 - val_loss: 0.6259
Epoch 4/10
172/172 [==============================] - 31s 179ms/step - loss: 0.2919 - val_loss: 0.6984
Epoch 5/10
172/172 [==============================] - 31s 181ms/step - loss: 0.2322 - val_loss: 0.7561
Epoch 6/10
172/172 [==============================] - ETA: 0s - loss: 0.1934Restoring model weights from the end of the best epoch.
172/172 [==============================] - 31s 180ms/step - loss: 0.1934 - val_loss: 0.8083
Epoch 00006: early stopping
training model for CV #2
Epoch 1/10
172/172 [==============================] - 32s 184ms/step - loss: 1.0116 - val_loss: 0.7228
Epoch 2/10
172/172 [==============================] - 30s 177ms/step - loss: 0.5361 - val_loss: 0.6095
Epoch 3/10
172/172 [==============================] - 30s 176ms/step - loss: 0.3653 - val_loss: 0.6556
Epoch 4/10
172/172 [==============================] - 31s 177ms/step - loss: 0.2748 - val_loss: 0.7162
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2197Restoring model weights from the end of the best epoch.
172/172 [==============================] - 30s 177ms/step - loss: 0.2197 - val_loss: 0.7626
Epoch 00005: early stopping
training model for CV #3
Epoch 1/10
172/172 [==============================] - 32s 186ms/step - loss: 0.9885 - val_loss: 0.6874
Epoch 2/10
172/172 [==============================] - 31s 178ms/step - loss: 0.5172 - val_loss: 0.6318
Epoch 3/10
172/172 [==============================] - 31s 177ms/step - loss: 0.3600 - val_loss: 0.6331
Epoch 4/10
172/172 [==============================] - 31s 178ms/step - loss: 0.2757 - val_loss: 0.7031
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2175Restoring model weights from the end of the best epoch.
172/172 [==============================] - 31s 178ms/step - loss: 0.2175 - val_loss: 0.7387
Epoch 00005: early stopping
training model for CV #4
Epoch 1/10
172/172 [==============================] - 31s 183ms/step - loss: 0.9953 - val_loss: 0.7216
Epoch 2/10
172/172 [==============================] - 31s 178ms/step - loss: 0.5449 - val_loss: 0.6853
Epoch 3/10
172/172 [==============================] - 30s 177ms/step - loss: 0.3861 - val_loss: 0.6241
Epoch 4/10
172/172 [==============================] - 31s 178ms/step - loss: 0.2997 - val_loss: 0.7372
Epoch 5/10
172/172 [==============================] - 31s 178ms/step - loss: 0.2418 - val_loss: 0.7370
Epoch 6/10
172/172 [==============================] - ETA: 0s - loss: 0.2061Restoring model weights from the end of the best epoch.
172/172 [==============================] - 31s 178ms/step - loss: 0.2061 - val_loss: 0.7964
Epoch 00006: early stopping
training model for CV #5
Epoch 1/10
172/172 [==============================] - 31s 182ms/step - loss: 1.0278 - val_loss: 0.7200
Epoch 2/10
172/172 [==============================] - 30s 177ms/step - loss: 0.5324 - val_loss: 0.6080
Epoch 3/10
172/172 [==============================] - 30s 177ms/step - loss: 0.3570 - val_loss: 0.6340
Epoch 4/10
172/172 [==============================] - 30s 177ms/step - loss: 0.2702 - val_loss: 0.6928
Epoch 5/10
172/172 [==============================] - ETA: 0s - loss: 0.2215Restoring model weights from the end of the best epoch.
172/172 [==============================] - 30s 177ms/step - loss: 0.2215 - val_loss: 0.8279
Epoch 00005: early stopping

In [22]:
print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  78.1282%
Log Loss (CV):   0.6199

In [23]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [24]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [25]:

sub[sub.columns] = p_tst
sub.head()

            0       1       2       3       4
index
0      0.0225  0.6086  0.3359  0.0267  0.0063
1      0.3378  0.2060  0.0217  0.0173  0.4172
2      0.9217  0.0207  0.0419  0.0040  0.0117
3      0.0020  0.0127  0.9757  0.0058  0.0039
4      0.9509  0.0060  0.0169  0.0123  0.0138

In [26]:

sub.to_csv(sub_file)