In [1]:

%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import gc
from matplotlib import rcParams, pyplot as plt
import numpy as np
import os
import pandas as pd
from pathlib import Path
import re
from sklearn.metrics import accuracy_score, log_loss
from sklearn.model_selection import StratifiedKFold
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential, layers
from tensorflow.keras.backend import clear_session
from tensorflow.keras.layers import Dense, Embedding, LSTM, GlobalMaxPooling1D, Conv1D, Dropout, Bidirectional
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
from tensorflow.keras.utils import plot_model, to_categorical
from tensorflow.keras.optimizers import Adam
import warnings 
warnings.filterwarnings(action='ignore')

In [3]:

rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

In [4]:
data_dir = Path('/content/drive/MyDrive/dacon/input/')
feature_dir = Path('../build/feature')
val_dir = Path('/content/drive/MyDrive/dacon/build/val')
tst_dir = Path('/content/drive/MyDrive/dacon/build/tst')
sub_dir = Path('/content/drive/MyDrive/dacon/build/sub')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test_x.csv'
sample_file = data_dir / 'sample_submission.csv'

target_col = 'author'
n_fold = 5
n_class = 5
seed = 42

In [5]:
algo_name = 'bla'
feature_name = 'emb'
model_name = f'{algo_name}_{feature_name}'

feature_file = feature_dir / f'{feature_name}.csv'
p_val_file = val_dir / f'{model_name}.val.csv'
p_tst_file = tst_dir / f'{model_name}.tst.csv'
sub_file = sub_dir / f'{model_name}.csv'

In [67]:
train = pd.read_csv(trn_file, index_col=0)
train.head()

                                                    text  author
index
0      He was almost choking. There was so much, so m...       3
1                 “Your sister asked for it, I suppose?”       2
2       She was engaged one day as she walked, in per...       1
3      The captain was in the porch, keeping himself ...       4
4      “Have mercy, gentlemen!” odin flung up his han...       3

In [68]:
test = pd.read_csv(tst_file, index_col=0)
test.head()

                                                    text
index
0      “Not at all. I think she is one of the most ch...
1      "No," replied he, with sudden consciousness, "...
2      As the lady had stated her intention of scream...
3      “And then suddenly in the silence I heard a so...
4      His conviction remained unchanged. So far as I...

In [69]:
class BahdanauAttention(tf.keras.Model):
  def __init__(self, units):
    super(BahdanauAttention, self).__init__()
    self.W1 = Dense(units)
    self.W2 = Dense(units)
    self.V = Dense(1)

  def call(self, values, query): # 단, key와 value는 같음
    # query shape == (batch_size, hidden size)
    # hidden_with_time_axis shape == (batch_size, 1, hidden size)
    # score 계산을 위해 뒤에서 할 덧셈을 위해서 차원을 변경해줍니다.
    hidden_with_time_axis = tf.expand_dims(query, 1)

    # score shape == (batch_size, max_length, 1)
    # we get 1 at the last axis because we are applying score to self.V
    # the shape of the tensor before applying self.V is (batch_size, max_length, units)
    score = self.V(tf.nn.tanh(
        self.W1(values) + self.W2(hidden_with_time_axis)))

    # attention_weights shape == (batch_size, max_length, 1)
    attention_weights = tf.nn.softmax(score, axis=1)

    # context_vector shape after sum == (batch_size, hidden_size)
    context_vector = attention_weights * values
    context_vector = tf.reduce_sum(context_vector, axis=1)

    return context_vector, attention_weights

In [70]:
X_train = train['text'].values
X_test = test['text'].values
y = train['author'].values
print(X_train.shape, X_test.shape, y.shape)

(54879,) (19617,) (54879,)

In [71]:
train['text'] = train['text'].str.lower()
test['text'] = test['text'].str.lower()

In [72]:
train['text'] = train['text'].str.replace('\?',' quesmark ')
train['text'] = train['text'].str.replace('\!',' exclmark ')
train['text'] = train['text'].str.replace('\&',' empent ')
train['text'] = train['text'].str.replace("\*",' chstar ')
train['text'] = train['text'].str.replace(";",' smcolons  ')

test['text'] = test['text'].str.replace('\?',' quesmark ')
test['text'] = test['text'].str.replace('\!',' exclmark ')
test['text'] = test['text'].str.replace('\&',' empent ')
test['text'] = test['text'].str.replace("\*",' chstar ')
test['text'] = test['text'].str.replace(";",' smcolons  ')

In [73]:
train['text']=train['text'].str.replace('\'s', '')
train['text']=train['text'].str.replace('’s', '')
train['text']=train['text'].str.replace('\'ll', '')
train['text']=train['text'].str.replace('’ll', '')
train['text']=train['text'].str.replace("\'", '')
train['text']=train['text'].str.replace("’", '')

test['text']=test['text'].str.replace("’s",'')
test['text']=test['text'].str.replace("\'s",'')
test['text']=test['text'].str.replace('\'ll', '')
test['text']=test['text'].str.replace('’ll', '')
test['text']=test['text'].str.replace("\'", '')
test['text']=test['text'].str.replace("’", '')

In [74]:
train['text']=train['text'].str.replace('á', ' Ascenda ')
train['text']=train['text'].str.replace('à', ' Descenda ')
train['text']=train['text'].str.replace('â', ' Stremama ')
train['text']=train['text'].str.replace('ä', ' Doublea ')
train['text']=train['text'].str.replace('é', ' Ascende ')
train['text']=train['text'].str.replace('í', ' Justi ')
train['text']=train['text'].str.replace('ï', ' Doublei ')
train['text']=train['text'].str.replace('ó', ' Comao ')
train['text']=train['text'].str.replace('ú', ' Ascendu ')
train['text']=train['text'].str.replace('ý', ' Ascendy ')
train['text']=train['text'].str.replace('ü', ' Umlaut ')
train['text']=train['text'].str.replace('è', ' Descende ')
train['text']=train['text'].str.replace('£', ' Maludf ')

test['text']=test['text'].str.replace('ä', ' Doublea ')
test['text']=test['text'].str.replace('â', ' Stremama ')
test['text']=test['text'].str.replace('à', ' Descenda ')
test['text']=test['text'].str.replace('á', ' Ascenda ')
test['text']=test['text'].str.replace('é', ' Ascende ')
test['text']=test['text'].str.replace('ï', ' Doublei ')
test['text']=test['text'].str.replace('í', ' Justi ')
test['text']=test['text'].str.replace('ó', ' Comao  ')
test['text']=test['text'].str.replace('ú', ' Ascendu ')
test['text']=test['text'].str.replace('ý', ' Ascendy ')
test['text']=test['text'].str.replace('ü', ' Umalut ')
test['text']=test['text'].str.replace('è', ' Descende ')
test['text']=test['text'].str.replace('£', ' Maludf ')

In [75]:

train['text']=train['text'].str.replace('\(', ' ( ')
train['text']=train['text'].str.replace('\{', ' { ')
train['text']=train['text'].str.replace('\[', ' [ ')
train['text']=train['text'].str.replace('\)', ' ) ')
train['text']=train['text'].str.replace('\}', ' } ')
train['text']=train['text'].str.replace('\]', ' ] ')
train['text']=train['text'].str.replace('—', ' — ')
train['text']=train['text'].str.replace('_', ' _ ')
train['text']=train['text'].str.replace(':', ' : ')

test['text']=test['text'].str.replace('\(', ' ( ')
test['text']=test['text'].str.replace('\{', ' { ')
test['text']=test['text'].str.replace('\[', ' [ ')
test['text']=test['text'].str.replace('\)', ' ) ')
test['text']=test['text'].str.replace('\}', ' } ')
test['text']=test['text'].str.replace('\]', ' ] ')
test['text']=test['text'].str.replace('—', ' — ')
test['text']=test['text'].str.replace('_', ' _ ')
test['text']=test['text'].str.replace(':', ' : ')

In [76]:
from collections import Counter
cnt = Counter()
for text in train["text"].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('the', 108566),
 ('and', 69772),
 ('to', 60647),
 ('of', 57428),
 ('a', 50235),
 ('i', 46401),
 ('in', 35455),
 ('he', 32525),
 ('was', 31175),
 ('that', 29968)]

In [79]:
n_rare_words = 40
RAREWORDS = set([w for (w, wc) in cnt.most_common()[:-n_rare_words-1:-1]])
def remove_rarewords(text):
    """custom function to remove the rare words"""
    return " ".join([word for word in str(text).split() if word not in RAREWORDS])

train["text"] = train["text"].str.lower().apply(remove_rarewords)

In [81]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [82]:
from nltk.stem.wordnet import WordNetLemmatizer 
from nltk.tokenize import TweetTokenizer

def lemma_text(text):
    tokenizer=TweetTokenizer()
    words=tokenizer.tokenize(text)
    lem = WordNetLemmatizer()
    words=[lem.lemmatize(word, "v") for word in words]
    
    clean_sent=" ".join(words)
    
    return clean_sent

train['text'] = train['text'].str.lower().apply(lemma_text)
test['text'] = test['text'].str.lower().apply(lemma_text)

In [83]:
vocab_size = 21000
maxlen = 360
embed_dim = 128
num_heads = 4  # Number of attention heads
padding_type='post'

In [84]:
tokenizer = Tokenizer(num_words=vocab_size)
tokenizer.fit_on_texts(X_train)
word_index = tokenizer.word_index

In [85]:
train_sequences = tokenizer.texts_to_sequences(X_train)
test_sequences = tokenizer.texts_to_sequences(X_test)

In [86]:
trn = keras.preprocessing.sequence.pad_sequences(train_sequences, maxlen=maxlen)
tst = keras.preprocessing.sequence.pad_sequences(test_sequences, maxlen=maxlen)
print(trn.shape, tst.shape)

(54879, 360) (19617, 360)

In [87]:

cv = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

In [88]:
from tensorflow.keras.layers import Dense, Embedding, Bidirectional, LSTM, Concatenate, Dropout
from tensorflow.keras import Input, Model
from tensorflow.keras import optimizers
import os

def get_model():
    ff_dim = 32  # Hidden layer size in feed forward network inside transformer

    seq_inputs = layers.Input(shape=(maxlen,))
    embedded_layer = Embedding(vocab_size, embed_dim, input_length=maxlen)(seq_inputs)
    lstm = Bidirectional(LSTM(128, dropout=0.5, return_sequences = True))(embedded_layer)
    lstm, forward_h, forward_c, backward_h, backward_c = Bidirectional \
    (LSTM(128, dropout=0.5, return_sequences=True, return_state=True))(lstm)
    state_h = Concatenate()([forward_h, backward_h]) # 은닉 상태
    state_c = Concatenate()([forward_c, backward_c]) # 셀 상태
    attention = BahdanauAttention(64) # 가중치 크기 정의
    context_vector, attention_weights = attention(lstm, state_h)  
    dense1 = Dense(20, activation="relu")(context_vector)
    dropout = Dropout(0.5)(dense1)
    output = Dense(n_class, activation="softmax")(dropout)
    model = Model(inputs=seq_inputs, outputs=output)

    model.compile(loss='categorical_crossentropy', optimizer=Adam(learning_rate=.001))
    return model

In [89]:
p_val = np.zeros((trn.shape[0], n_class))
p_tst = np.zeros((tst.shape[0], n_class))
for i, (i_trn, i_val) in enumerate(cv.split(trn, y), 1):
    print(f'training model for CV #{i}')
    clf = get_model()
    
    es = EarlyStopping(monitor='val_loss', min_delta=0.001, patience=3,
                       verbose=1, mode='min', baseline=None, restore_best_weights=True)

    clf.fit(trn[i_trn], 
            to_categorical(y[i_trn]),
            validation_data=(trn[i_val], to_categorical(y[i_val])),
            epochs=10,
            batch_size=256,
            callbacks=[es])
    p_val[i_val, :] = clf.predict(trn[i_val])
    p_tst += clf.predict(tst) / n_fold
    
    clear_session()
    gc.collect()

training model for CV #1
Epoch 1/10
172/172 [==============================] - 50s 290ms/step - loss: 1.4804 - val_loss: 1.3744
Epoch 2/10
172/172 [==============================] - 49s 282ms/step - loss: 1.1789 - val_loss: 0.8988
Epoch 3/10
172/172 [==============================] - 49s 282ms/step - loss: 0.8225 - val_loss: 0.6841
Epoch 4/10
172/172 [==============================] - 49s 283ms/step - loss: 0.6522 - val_loss: 0.6460
Epoch 5/10
172/172 [==============================] - 49s 283ms/step - loss: 0.5622 - val_loss: 0.6601
Epoch 6/10
172/172 [==============================] - 49s 282ms/step - loss: 0.5147 - val_loss: 0.6805
Epoch 7/10
172/172 [==============================] - ETA: 0s - loss: 0.4829Restoring model weights from the end of the best epoch.
172/172 [==============================] - 49s 283ms/step - loss: 0.4829 - val_loss: 0.6671
Epoch 00007: early stopping
training model for CV #2
Epoch 1/10
172/172 [==============================] - 50s 289ms/step - loss: 1.3187 - val_loss: 0.8884
Epoch 2/10
172/172 [==============================] - 48s 282ms/step - loss: 0.8627 - val_loss: 0.7046
Epoch 3/10
172/172 [==============================] - 48s 281ms/step - loss: 0.6796 - val_loss: 0.6635
Epoch 4/10
172/172 [==============================] - 48s 282ms/step - loss: 0.5877 - val_loss: 0.6340
Epoch 5/10
172/172 [==============================] - 48s 281ms/step - loss: 0.5295 - val_loss: 0.6593
Epoch 6/10
172/172 [==============================] - 49s 283ms/step - loss: 0.5017 - val_loss: 0.6797
Epoch 7/10
172/172 [==============================] - ETA: 0s - loss: 0.4761Restoring model weights from the end of the best epoch.
172/172 [==============================] - 48s 282ms/step - loss: 0.4761 - val_loss: 0.6746
Epoch 00007: early stopping
training model for CV #3
Epoch 1/10
172/172 [==============================] - 50s 289ms/step - loss: 1.4251 - val_loss: 0.9910
Epoch 2/10
172/172 [==============================] - 48s 282ms/step - loss: 0.9406 - val_loss: 0.8083
Epoch 3/10
172/172 [==============================] - 48s 282ms/step - loss: 0.7657 - val_loss: 0.7329
Epoch 4/10
172/172 [==============================] - 48s 282ms/step - loss: 0.6622 - val_loss: 0.6833
Epoch 5/10
172/172 [==============================] - 49s 283ms/step - loss: 0.5764 - val_loss: 0.6862
Epoch 6/10
172/172 [==============================] - 49s 284ms/step - loss: 0.5193 - val_loss: 0.6527
Epoch 7/10
172/172 [==============================] - 49s 285ms/step - loss: 0.4922 - val_loss: 0.6807
Epoch 8/10
172/172 [==============================] - 49s 285ms/step - loss: 0.4516 - val_loss: 0.7250
Epoch 9/10
172/172 [==============================] - ETA: 0s - loss: 0.4328Restoring model weights from the end of the best epoch.
172/172 [==============================] - 49s 285ms/step - loss: 0.4328 - val_loss: 0.7664
Epoch 00009: early stopping
training model for CV #4
Epoch 1/10
172/172 [==============================] - 50s 293ms/step - loss: 1.3747 - val_loss: 0.9595
Epoch 2/10
172/172 [==============================] - 49s 285ms/step - loss: 0.8986 - val_loss: 0.7171
Epoch 3/10
172/172 [==============================] - 49s 287ms/step - loss: 0.7047 - val_loss: 0.6598
Epoch 4/10
172/172 [==============================] - 49s 286ms/step - loss: 0.6116 - val_loss: 0.6486
Epoch 5/10
172/172 [==============================] - 49s 287ms/step - loss: 0.5457 - val_loss: 0.6540
Epoch 6/10
172/172 [==============================] - 49s 287ms/step - loss: 0.4979 - val_loss: 0.6703
Epoch 7/10
172/172 [==============================] - 49s 287ms/step - loss: 0.4686 - val_loss: 0.6389
Epoch 8/10
172/172 [==============================] - 49s 285ms/step - loss: 0.4309 - val_loss: 0.7295
Epoch 9/10
172/172 [==============================] - 49s 286ms/step - loss: 0.4175 - val_loss: 0.7199
Epoch 10/10
172/172 [==============================] - ETA: 0s - loss: 0.4018Restoring model weights from the end of the best epoch.
172/172 [==============================] - 49s 285ms/step - loss: 0.4018 - val_loss: 0.7320
Epoch 00010: early stopping
training model for CV #5
Epoch 1/10
172/172 [==============================] - 50s 292ms/step - loss: 1.3595 - val_loss: 0.9023
Epoch 2/10
172/172 [==============================] - 49s 285ms/step - loss: 0.8721 - val_loss: 0.7375
Epoch 3/10
172/172 [==============================] - 49s 286ms/step - loss: 0.6926 - val_loss: 0.6615
Epoch 4/10
172/172 [==============================] - 49s 286ms/step - loss: 0.6053 - val_loss: 0.6368
Epoch 5/10
172/172 [==============================] - 49s 286ms/step - loss: 0.5265 - val_loss: 0.6569
Epoch 6/10
172/172 [==============================] - 49s 286ms/step - loss: 0.4852 - val_loss: 0.6883
Epoch 7/10
172/172 [==============================] - ETA: 0s - loss: 0.4577Restoring model weights from the end of the best epoch.
172/172 [==============================] - 49s 286ms/step - loss: 0.4577 - val_loss: 0.6721
Epoch 00007: early stopping

In [91]:
print(f'Accuracy (CV): {accuracy_score(y, np.argmax(p_val, axis=1)) * 100:8.4f}%')
print(f'Log Loss (CV): {log_loss(pd.get_dummies(y), p_val):8.4f}')

Accuracy (CV):  77.6253%
Log Loss (CV):   0.6416

In [92]:
np.savetxt(p_val_file, p_val, fmt='%.6f', delimiter=',')
np.savetxt(p_tst_file, p_tst, fmt='%.6f', delimiter=',')

In [93]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(19617, 5)

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0

In [94]:
sub[sub.columns] = p_tst
sub.head()

            0       1       2           3       4
index
0      0.0166  0.4559  0.3894  1.3196e-01  0.0061
1      0.3030  0.1883  0.1013  9.7461e-02  0.3100
2      0.9963  0.0006  0.0002  3.8304e-05  0.0029
3      0.0004  0.0005  0.9977  6.9688e-04  0.0008
4      0.6747  0.0171  0.0528  1.4755e-01  0.1078

In [ ]:

sub.to_csv(sub_file)